<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        
    <div class="container">
        <div align="right">
        <img src="/images/Group 11.png" id="image" alt="img" width=40% >
        </div>
        <div align="left" class="wrapper">
         <img src="/images/Group 19.png" id="Login_logo" width="60%">
         <form id="login_form">
            <input type="text" placeholder="Email" id="Username" required autocomplete="off">
            <input type="password" placeholder="Password" id="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,})" title="Must contain at least one number,one uppercase and one lowercase,and atleast 8 characters" required><br>
             <input type="button" id="login_button" value="Login" onclick="login()"  >
        </form>
            
            
            <div class="option" id="option">
               <a href="../SIgnup page/Signup_page.html" target="_self"  >Don't have an account?Sign up</a>   
            </div>
        </div>
    </div>

<script src="/javascript/login.js"></script>

</body>
</html>