/*main-body*/
body{
	background-image:url("Major project images/backgroundimage4.jpg");
	background-size:cover;
    position:relative;
    background-color:#a8c6a8;
    overflow-x: hidden;
}
/*header-section*/
#header{
	position:relative;
	width:100vw;
	height:80px;
    margin-top:-15px;
	margin-left:-10px;
	background-color:#275442;
	z-index:4;
}
#body-header{
	position:relative;
	margin-top:15px;
	margin-left:10px;
	width:100%;
	height:auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
#site-logo{
	margin:10px;
	height:30px;
	font-size:30px;
	color:#ffffff87;
	border:15px double #ff00f7b5;
	border-radius:50%;
	padding:10px;
}
#site-logo:hover{
	box-shadow:0px 0px 5px 8px #80808078;
}
#site-name,#favourites{
	color:#ffffff87;
	margin:20px 1px 10px 0px;
	margin-top:20px;
	font-family:sans-serif;
	letter-spacing:2px;
	font-size:20px;
}
#favourites{
	margin-left:100px;
}
#favourites a{
	color:#ffffff87;
	text-decoration:none;
}
.name1{
	font-weight:200;
}
.name2{
	font-weight:600;
}
#search{
    margin-top:10px;
	position:absolute;
	top:15%;
	left:50%;
	height: 30px;
    width:500px;
	background-color:#a8c6a8;
	border-radius: 10px;
	padding: 3px;
}

.btn{
	float: left;
	text-decoration: none;
	text-align: center;
	width: 30px;
	height: 20px;
	margin-top: 10px;
	color:#2d091ff2;
}

.input-box{
	border: none;
	outline: none;
	background: none;
	line-height:30px;
	width: 230px;
	color:#2d091ff2;
	font-size: 15px;
}
.switch{
	float: right;
	text-decoration: none;
	width: 30px;
	height: 20px;
	text-align: center;
	margin-top: 10px;
	color:#2d091ff2;
}
#notification,#userprofile{
	font-size:50px;
}
#notification{
	position:absolute;
	top:15%;
	left:85%;
}
#loginbutton{
    margin-top:10px;
	position:absolute;
	top:4%;
	left:90%;
    height:40px;
    width:100px;
    background-color:#a8c6a8;
    font-size:20px;
    border-radius:10px;
    border:transparent;
}
#loginbutton:hover{
    cursor:pointer;
}
#notification a,#userprofile a{
	color:#ffffff87;
}
#notification a:hover,#userprofile a:hover,#search:hover .btn,#search:hover .switch,#favourites a:hover,#site-name:hover,#site-logo i:hover{
	color:#ffffffbd;
}
#logo{
    margin-top:10px;
    margin-left:10px;
}
#products{
    position:relative;
    left:15%;
    width:70vw;
    margin:10px;
    border:5px solid black;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}
#footer{
    position:fixed;
    bottom:0%;
    left:0%;
    height:20px;
    width:100vw;
    background-color:#275442;
    color:#ffffffbd;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.p{
display:inline-block;
height:160px;
width:35%;
border:5px solid black;
margin:10px;
}

#image img{
    position: relative;
    left:0%;
    height:100%;
    width:60%;
}
#pdetails{
    position:relative;
    top:-85%;
    width:30%;
    height:100%;
    font-size:20px;
}
